@{
    Layout = "~/Views/Shared/_LayoutSPA.cshtml";
    ViewBag.Title = "Home Page";
}

<div id="root">
    <layout-component />
</div>
<link rel='stylesheet'  href='/dist/home2.css' type='text/css' media='all' />
<script src="/dist/home2.js"></script>